# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual env

venv/
.env/
.venv/

# =========================

# ROS2

# =========================

build/
install/
log/

# colcon

.colcon/


# =========================

# Model / Checkpoints

# =========================

*.pth
*.pt
*.onnx

# =========================

# Logs / outputs

# =========================

*.log
*.out

# =========================

# Plots / results

# =========================

*.png
*.jpg
*.jpeg

# =========================

# Jupyter Notebook

# =========================

.ipynb_checkpoints/

# =========================

# IDE

# =========================

.vscode/
.idea/

# =========================

# OS

# =========================

.DS_Store
Thumbs.db

# =========================

# Misc

# =========================

*.swp
*.bak
*~
